<!doctype html> 
<html lang="en"> 
    <head> 
    	<meta charset="UTF-8" />
        <title>Colors Pencils</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    	<script type="text/javascript" src="assets/js/phaser.min.js"></script>
        <style>
            body{
				margin:0px;
				padding:0px;
			}
        </style>

        <script type="text/javascript" src="assets/js/unit1_2.js"></script>
    </head>
    <body>
        <div id="game_div"> </div>
    </body>
</html>