<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Bai 6 game 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="logo.png" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
	<script type="text/javascript" src="js/phaser.min.js"></script>
	<script type="text/javascript" src="js/object.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
    
    
    
  </head>

  <body>

    <div class="wrap">
     <audio  autoplay="true">
 
  <source src="sound/Start.mp3" type="audio/mpeg" >

</audio>
<div class="game"></div>
	
	<div class="modal-overlay">
		<div class="modal">
			<h2 class="winner">Thắng Rồi</h2>
			
			</div>
	</div>
  <footer>
		<p class="disclaimer">Công Ty Color Pencils</p>
	</footer>
  </div><!-- End Wrap -->
    <script src='js/jquery.min.js'></script>

        <script src="js/index.js"></script>
        <!-- Exit -->
       

    
    

  </body>
</html>
