<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Bai 6 game 2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="assets/images/logo.png" type="image/vnd.microsoft.icon" />
  <link rel="stylesheet" href="assets/css/unit6_reset.css">
  <link rel="stylesheet" href="assets/css/unit6_style.css">
  <script type="text/javascript" src="assets/js/phaser.min.js"></script>
  <!-- <script type="text/javascript" src="assets/js/object6_2.js"></script>
  <script type="text/javascript" src="assets/js/unit6_2.js"></script> -->



</head>

<body>

  <div class="wrap">
    <audio autoplay="true">

      <source src="assets/sounds/unit6_2/Start.mp3" type="audio/mpeg">

    </audio>
    <div class="game"></div>

    <div class="modal-overlay">
      <div class="modal">
        <h2 class="winner">Thắng Rồi</h2>

      </div>
    </div>
  </div>
  <!-- End Wrap -->
  <script src='assets/js/jquery.min.js'></script>

  <script src="assets/js/unit6_game2.js"></script>
  <!-- Exit -->

</body>

</html>