<!doctype html> 
<html lang="en"> 
<head> 
	<meta charset="UTF-8" name="apple-mobile-web-app-capable" content="yes" />
	<link rel="shortcut icon" href="assets/images/logo.png" type="image/vnd.microsoft.icon" />
	<meta name="viewport" content="minimal-ui"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lesson 3 game 2</title>
	<script type="text/javascript" src="assets/js/phaser.min.js"></script>
	<script type="text/javascript" src="assets/js/object3_2.js"></script>
	<script type="text/javascript" src="assets/js/unit3_2.js"></script>
    <style type="text/css">
        body {
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>
<body>
<div id="gameContainer"></div>
</body>
</html>