<!doctype html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bài 2 game 1</title>
	<link rel="shortcut icon" href="assets/images/logo.png" type="image/vnd.microsoft.icon" />
	<script type="text/javascript" src="assets/js/phaser.min.js"></script>
	<script type="text/javascript" src="assets/js/object2_1.js"></script>
	<script type="text/javascript" src="assets/js/unit2_1.js"></script>
	<style type="text/css">
		body {
			margin: 0px;
			padding: 0px;
		}
	</style>
</head>

<body>
	<div id="gameContainer"></div>
</body>

</html>